@page "/csatclose"
@inject DialogService DialogService
@rendermode InteractiveServer
<h3 class="custom-heading"> CSAT CLOSE SETTING:</h3>
@* <button class="btn bot btn-outline-secondary"> Download CSV</button> *@
<br />
<br />
<hr />



<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Include DataTables styles and scripts -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- Add the following script -->
<script>
    $(document).ready(function () {
        // Initialize DataTable with search and pagination
        $('#dtBasicExample').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [10, 25, 50, 75, 100], // Set the page length options
            "pageLength": 10, // Default page length
            "order": [[0, 'asc']], // Default sorting by the first column in ascending order
        });
    });
</script>

<!-- Your existing HTML table code -->
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">

    <thead class="table-dark">

        <tr>
            <th class="th-sm">Sr.No</th>
            <th class="th-sm">Duration</th>
            <th class="th-sm">Type</th>
            <th class="th-sm">Action</th>

        </tr>
    </thead>
    <tbody>


        <tr>
            <td>1</td>
            <td>30</td>
            <td>minute</td>
            <td>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                              Click=@(args => DialogService.Alert("Some message!", "MyTitle", new AlertOptions() { OkButtonText = "Yes" }))>
                    <RadzenIcon Icon="edit" />
                </RadzenButton>
            </td>


        </tr>


    </tbody>

</table>

@code {

}
