@page "/logout"
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        sessionData.UserData = null;
        NavigationManager.NavigateTo("/");

        await base.OnInitializedAsync();
    }

    
}
