@page "/NAuthorized"

<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Error</li>
                    </ol>
                </div>
            </div>
            <div class="error-template">
                <h1 class="text-start text-primary fw-900 mt-5">  Not Authorized </h1>
                <h5 class="error-details text-start ">
                    Sorry, You <br>are not Authorized to View this Page.
                </h5>
            </div>
        </div>

    </div>
</div>
