@page "/subcategory"
@using custos.Models;
@rendermode InteractiveServer



<RadzenDialog @rendermode="RenderMode.InteractiveServer"></RadzenDialog>
<RadzenNotification @rendermode="RenderMode.InteractiveServer"></RadzenNotification>


<RadzenCard Variant="@variant" Class="rz-my-12 rz-mx-auto" Style="max-width: 100%; margin-top:0px !important;">
    <div class="row">

        <div class="col-6">
        <h3 style="margin-bottom:-2.5rem;" class="custom-heading">SubCategories</h3>

    </div>
        <div class="col-6"  style=" text-align:right ">
        <button class="btn btn-outline-secondary" @onclick=@DownloadCsv><i class=" fa fa-solid fa-download"></i>CSV</button>
        <InputFile class="botn" OnChange="OnChange" id="upload" style="display:none" accept=".xls, .xlsx" />
        <button class="btn btn-outline-secondary" @onclick="OpenFilePicker"><i class=" fa fa-solid fa-upload"></i>Upload</button>
    </div>
    </div>
    <br />

    <div class="loader" hidden="@(loading?false:true)"></div>

    <RadzenDataGrid Data="_subcategories" AllowPaging="true" PageSize="10" AllowSorting="true" TItem="SubCategoriesDto" class="custom-datagrid"
                    AllowFiltering="true" FilterMode="FilterMode.Advanced"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    LogicalFilterOperator="LogicalFilterOperator.Or" PageSizeOptions="@pageSizeOptions" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
        <Columns>
            <RadzenDataGridColumn Width="50px" TItem="SubCategoriesDto" Property="Sno" Title="Sr.No" Filterable=false Sortable=true>
                <Template Context="ctx">
                    @(_subcategories.ToList()?.IndexOf(ctx) + 1)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SubCategoriesDto" Property="Name" Title="Name" Width="100px" />
            <RadzenDataGridColumn TItem="SubCategoriesDto" Property="displaylabel" Title="Display Label" Width="100px" />
          <RadzenDataGridColumn TItem="SubCategoriesDto" Property="Name" Title="Category Name" Width="100px" />
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

<script>
    window.openFilePicker = function (id) {
        document.getElementById(id).click();
    }
</script>
