@page "/oscore"
@using custos.Models.DTO
@rendermode InteractiveServer



 <RadzenCard Variant="@variant" Class="rz-my-12 rz-mx-auto" Style="max-width: 100%; margin-top:0px !important;">
    <div class="row">
         <div class="col-6">
             <h3 style="margin-bottom:-2.5rem;" class="custom-heading">Windows Core Information</h3>
             </div>
             <div class="col-6" style="text-align:right; margin-bottom: 5px;">
                
                 <button class="btn  btn-outline-secondary" @onclick=@DownloadCsvwincore><i class=" fa fa-solid fa-download"></i></button> 
                 </div>
         </div>

   <div class="loader" hidden="@(loading?false:true)"></div>
    <RadzenDataGrid Data="_operatingcore" AllowPaging="true" PageSize="10" AllowSorting="true"
                    TItem="OSCoreDto" class="custom-datagrid"
                    AllowFiltering="true" FilterMode="FilterMode.Advanced"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    LogicalFilterOperator="LogicalFilterOperator.Or" PageSizeOptions="@pageSizeOptions" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">

        <Columns>

            <RadzenDataGridColumn TItem="OSCoreDto" Property="SystemId" Title="UserId" Width="100%" />
            <RadzenDataGridColumn TItem="OSCoreDto" Property="WindowActivationStatus" Title="WindowActivationStatus" Width="100%" />
            <RadzenDataGridColumn TItem="OSCoreDto" Property="WindowProductKey" Title="WindowProductKey" Width="100%" />






        </Columns>
    </RadzenDataGrid> 
 </RadzenCard> 
